* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

body {
    min-width: 300px;
    padding-bottom: 50px;
}
.carlogo img{
    width: 100%;
    height: 100%;
}
#submit{
    display: none;
}
.header {
    background-color: #C20000;
}
.logo{
    width: 140px;
    margin: 0 auto;
    margin-top: 20px;
}
.logo img {
    width: 100%;
    height: 100%;
}
.submitContainer{
    width: 100%;
    background-color: #e0ffc7;
    border: 1px solid #b4d39b;
    display: none;
}

.policelogo {
    width: 100px;
    margin: 0 auto;
}

.policelogo img {
    width: 100%;
    height: auto;
}
@media screen and (min-width:1200px) {
    .carlogo{
        margin-left: 80px;
        margin-top: 20px;
        width: 350px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .logo, .carlogo {
        width:60px;
        margin: 20px auto;
    }
    .carlogo {
        width: 250px;
        margin: 20px auto;
    }
    .dateInput select {
        width: 100% !important;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) and (min-width: 576px) {
    .logo {
        width: 60px;
        margin: 20px auto;
    }
    .carlogo{
        width: 150px;
        margin:  20px auto;
    }
    .inputs {
        width: 100% !important;
    }
    .inputsContainer {
        flex-direction: column;
    }
    .addressInputContainer {
        width: 100% !important;
    }
    .addressInput,
    .inputPhone {
        width: 100% !important;
    }
    input#businessPhone,
    input#homePhone,
    input#cell {
        width: 100% !important;
    }
    .dateInput select {
        width: 100% !important;
        margin-bottom: 20px;
    }
    .iti--allow-dropdown{
        width: 100% !important;
    }
}

@media screen and (max-width: 576px) {
    .logo {
        width: 50px;
        margin: 0 auto;
        margin-top: 20px;
    }
    .carlogo{
        width: 120px;
        margin: 20px auto;
    }
    .inputs {
        width: 100% !important;
    }
    .inputsContainer {
        flex-direction: column;
    }
    .headerText {
        font-size: 14px;
    }
    .dateInput select {
        width: 100% !important;
        margin-bottom: 20px;
    }
    .addressInputContainer {
        width: 100% !important;
    }
    .addressInput,
    .inputPhone {
        width: 100% !important;
    }
    input#businessPhone,
    input#homePhone,
    input#cell {
        width: 100% !important;
    }
    .dateInput select {
        width: 100% !important;
    }
    .selectNoOfCollionVehicle{
        width:100% !important;
    }
    .iti--allow-dropdown{
        width: 100% !important;
    }
}

.box {
    transition: opacity 0.5s, transform 0.5s;
    display: none;
}

.yesImage,
.noImage {
    width: 50px;
}

.yesImage img,
.noImage img {
    width: 100%;
    height: auto;
    cursor: pointer;
}


.input {
    max-width: 300px;
}

.input.select {
    font-size: 15px;
}

.inputs {
    width: 49%;
}

.inputs input,
.inputs select,
.inputs textarea {
    width: 100%;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
}

input[type=radio] {
    width: 20px;
    height: 20px;
}

.dateInput select {
    width: 30%;
}

.addressText {
    font-size: 13px;
    color: rgb(114, 114, 114);
}

.addressInputContainer {
    width: 48%;
}
.inputFieldAddress{
    width: 100%;
}
.addressInput,
.inputPhone {
    width: 98%;
}

input#cell,
input#homePhone,
input#businessPhone {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(211, 211, 211);
    padding: 10px 50px;
}

.inputsContainer.insurance {
    width: 100% !important;
}

.inputsContainer.insurance .inputs.insurance {
    width: 100%;
}

.inputsContainer.insurance .inputs.insurance textarea {
    height: 100px;
}

.addressText.insuranceText {
    border-bottom: 1px solid rgb(211, 211, 211);
    padding: 5px 0px 20px 0;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    accent-color: rgba(230, 101, 15, 0.068);
}

.checkboxContainer {
    max-width: 600px;
}

.inputsContainer.passengers {
    width: 100% !important;
}

.inputsContainer.passengers .inputs {
    width: 30%;
}

.dragContainer {
    height: 250px;
    width: 100%;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
}

.dragContainer label {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.uploadContainer {
    width: 50px;
    height: 50px;
    margin: 0;
}

.uploadContainer img {
    width: 100%;
    height: 100%;
}

.editorContainer {
    width: 100%;
    min-height: 200px;
}

#uploadedImagesContainer1,
#uploadedImagesContainer2 {
    width: 100%;
    height: 90px;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#uploadedImagesContainer1 img,
#uploadedImagesContainer2 img {
    width: 80px;
    height: 70px;
    margin-left: 10px;
    border-radius: 5px;
}
.reviewAlertContainer{
    width: 100%;
    height: 80px;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    border: .5px solid rgb(189, 189, 5);
}
.customBtn{
    border-radius: 3px;
}

/* searchable select */
.select2-container,.select2-selection{
    width: 100% !important;
}
.select2-selection{
    height: 40px !important;
}
.select2-selection__rendered{
    display: flex !important;
    align-items: center;
    height: 100%;
}
.select2-selection__arrow{
    top: 8px !important;
}
/* searchable select */
.selectNoOfCollionVehicle{
    width:48%;
}
.iti--allow-dropdown{
    width: 50%;
}
.radioBtnYes{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
#yes label{
    border: 5px solid green ;
    background-color: red;
}
.yesImage, .noImages, .unSureImages{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: .1s ease-in;
}
.yesImage img, .noImages img, .unSureImages img{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
}
.yesImage:hover, .noImages:hover, .unSureImages:hover{
    border:1px solid red;
    border-radius: 5px;

}
.option_box input:checked  ~ .yesImage, .option_box input:checked~ .noImages, .option_box input:checked~ .unSureImages{
    border:2px solid red;
    border-radius: 5px;
}

#yes, #no, #unSure{
    display: none;
}
.labelText{
    text-align: center;
    margin-top: 10px;
}
.yesImage.sectionTen{
    flex-direction: row;
}